<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_20c894f77b854d4091bda574a4b689b7 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_20c894f77b854d4091bda574a4b689b7" ></div>
        
</body>
<script>    
    
            var map_20c894f77b854d4091bda574a4b689b7 = L.map(
                "map_20c894f77b854d4091bda574a4b689b7",
                {
                    center: [37.4554, 126.951],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5a5b02d01c2d4690bf3b297851b5eb59 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_20c894f77b854d4091bda574a4b689b7);
        
    
            var circle_marker_5fdebe44ef324839a77e4e291744c6db = L.circleMarker(
                [37.4554, 126.951],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_20c894f77b854d4091bda574a4b689b7);
        
    
        var popup_bbb5daa6b4db47b9bbb9f5d94fa44ffd = L.popup({"maxWidth": "100%"});

        
            var html_e9f21e2dd9304ccead50d87be6742fae = $(`<div id="html_e9f21e2dd9304ccead50d87be6742fae" style="width: 100.0%; height: 100.0%;">Start location</div>`)[0];
            popup_bbb5daa6b4db47b9bbb9f5d94fa44ffd.setContent(html_e9f21e2dd9304ccead50d87be6742fae);
        

        circle_marker_5fdebe44ef324839a77e4e291744c6db.bindPopup(popup_bbb5daa6b4db47b9bbb9f5d94fa44ffd)
        ;

        
    
    
            var circle_marker_12b6513bc720421aa57a5d329202c3ea = L.circleMarker(
                [37.4551, 126.95],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_20c894f77b854d4091bda574a4b689b7);
        
    
        var popup_b58cc6716d62453b983e333d2cb9115f = L.popup({"maxWidth": "100%"});

        
            var html_eb04435fcb83414d83ba78829945b762 = $(`<div id="html_eb04435fcb83414d83ba78829945b762" style="width: 100.0%; height: 100.0%;">last location</div>`)[0];
            popup_b58cc6716d62453b983e333d2cb9115f.setContent(html_eb04435fcb83414d83ba78829945b762);
        

        circle_marker_12b6513bc720421aa57a5d329202c3ea.bindPopup(popup_b58cc6716d62453b983e333d2cb9115f)
        ;

        
    
    
                var lat_lng_popup_b83fb3e818554886b49f43e74b795d6c = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_b83fb3e818554886b49f43e74b795d6c
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_20c894f77b854d4091bda574a4b689b7);
                    }
                map_20c894f77b854d4091bda574a4b689b7.on('click', latLngPop);
            
</script>