<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3a1871b12e62440293b40285f6f6e01c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_3a1871b12e62440293b40285f6f6e01c" ></div>
        
</body>
<script>    
    
            var map_3a1871b12e62440293b40285f6f6e01c = L.map(
                "map_3a1871b12e62440293b40285f6f6e01c",
                {
                    center: [37.4554, 126.951],
                    crs: L.CRS.EPSG3857,
                    zoom: 16,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_5e761c78dca2413a8959418e1e3e33b2 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/toner/{z}/{x}/{y}.png",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_3a1871b12e62440293b40285f6f6e01c);
        
    
            var circle_marker_bccdacc269e54986a0636cc9b98e3e70 = L.circleMarker(
                [37.4554, 126.951],
                {"bubblingMouseEvents": true, "color": "crimson", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "crimson", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_3a1871b12e62440293b40285f6f6e01c);
        
    
        var popup_e5c22a6ff74d41a1a75fa1d46242d44d = L.popup({"maxWidth": "100%"});

        
            var html_137aa6815138478e969ab975c5ac0e40 = $(`<div id="html_137aa6815138478e969ab975c5ac0e40" style="width: 100.0%; height: 100.0%;">Start location</div>`)[0];
            popup_e5c22a6ff74d41a1a75fa1d46242d44d.setContent(html_137aa6815138478e969ab975c5ac0e40);
        

        circle_marker_bccdacc269e54986a0636cc9b98e3e70.bindPopup(popup_e5c22a6ff74d41a1a75fa1d46242d44d)
        ;

        
    
    
            var circle_marker_b7ab4af0e02340ec9c69009fe5a06be3 = L.circleMarker(
                [37.4551, 126.95],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 10, "stroke": true, "weight": 3}
            ).addTo(map_3a1871b12e62440293b40285f6f6e01c);
        
    
        var popup_cd910d5ae0954975bd720888e65908da = L.popup({"maxWidth": "100%"});

        
            var html_9d87708f4ae04c4391a85d1f4799cfdc = $(`<div id="html_9d87708f4ae04c4391a85d1f4799cfdc" style="width: 100.0%; height: 100.0%;">last location</div>`)[0];
            popup_cd910d5ae0954975bd720888e65908da.setContent(html_9d87708f4ae04c4391a85d1f4799cfdc);
        

        circle_marker_b7ab4af0e02340ec9c69009fe5a06be3.bindPopup(popup_cd910d5ae0954975bd720888e65908da)
        ;

        
    
    
                var lat_lng_popup_185a0c3b99554370bfbc5aa143477be9 = L.popup();
                function latLngPop(e) {
                    lat_lng_popup_185a0c3b99554370bfbc5aa143477be9
                        .setLatLng(e.latlng)
                        .setContent("Latitude: " + e.latlng.lat.toFixed(4) +
                                    "<br>Longitude: " + e.latlng.lng.toFixed(4))
                        .openOn(map_3a1871b12e62440293b40285f6f6e01c);
                    }
                map_3a1871b12e62440293b40285f6f6e01c.on('click', latLngPop);
            
</script>