<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <script type="text/javascript" src="http://static.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js"></script>
  <script type="text/javascript" src="http://static.robotwebtools.org/roslibjs/current/roslib.min.js"></script>
</head>

<body>
  <h1>Watcher: Monitoring System</h1>

  <form>
    <input type='BUTTON' value='STOP', onclick='PubTwist()'>
  </form>

  <p> 위도:
    <span id="latitude"></span>
  </p>
  <p> 경도:
    <span id="longitude"></span>
  </p>
  <p> 고도:
    <span id="altitude"></span>
  </p>
  
  <iframe class="map", src="/real_time_map" width="600" height="600"></iframe>

  <img id="my_image" style='height: 30%; width: 30%; object-fit: contain' src="">

  <script type = "text/javascript" src="{{ url_for('static', filename='ros.js') }}"></script>
</body>
</html>
